@model SimpleCMS.DataLayer.Post

@{
    ViewBag.Title = "Index";
}
@section CSS{
    <style>
        .mb-8px {
            margin-bottom: 8px;
        }
    </style>
}


<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <!-- Video player 1422x800 -->
        <img src="~/images/@Model.ImageName" class="tm-mb-40" width="954" height="535">
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">@Model.Title</h2>
                @*<p class="tm-mb-40">June 16, 2020 posted by Admin Nat</p>*@
                <p class="mb-8px">
                    @{var first_subcat = true;
                        foreach (var subcat in @Model.SubCategories)
                        {
                            if (!first_subcat)
                            {
                                <span>, @subcat.Name</span>
                            }
                            else
                            {
                                <span>@subcat.Name</span>
                                first_subcat = false;
                            }
                        }
                    }
                </p>
                <p class="mb-8px">@( (ViewBag.PersianCalendar) ? Model.DateCreated.ToShamsiText(): Model.DateCreated.ToMiladiText() ) posted by <a href="/author/@Model.Author.AuthorId">@Model.Author.User.GetFullName()</a></p>
                <p class="tm-mb-40">Visits: @Model.VisitsCount</p>
                @if (ViewBag.ShowDescriptionInPost)
                {
                    <p>
                        @Model.Description
                    </p>
                }
                <p>
                    @Html.Raw(Model.Text)
                </p>
                @*<span class="d-block text-right tm-color-primary">Creative . Design . Business</span>*@
                <span class="d-block text-right tm-color-primary">
                    @{var first_tag = true;
                        foreach (var tag in Model.Tags.Split(','))
                        {
                            if (!first_tag)
                            {
                                <span>, <a href="/search?q=@tag">@tag</a></span>
                            }
                            else
                            {
                                <span><a href="/search?q=@tag">@tag</a></span>
                                first_tag = false;
                            }
                        }
                    }
                </span>
            </div>

            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                <div id="comments-container">
                    @Html.Action("ShowComments", "Comment")
                </div>
                <form action="" class="mb-5 tm-comment-form">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    <div class="mb-4">
                        @*<label for="name">Name: </label>*@
                        <input id="name" class="form-control" name="name" type="text" placeholder="Your Name" required>
                    </div>
                    <div class="mb-4">
                        @*<label for="email">Email: </label>*@
                        <input id="email" class="form-control" name="email" type="email" placeholder="Your Email" required>
                    </div>
                    <div class="mb-4">
                        @*<label for="email">Subject: </label>*@
                        <input id="subject" class="form-control" name="subject" type="text" placeholder="Subject" required>
                    </div>
                    <div class="mb-4">
                        @*<label for="message">Message: </label>*@
                        <textarea id="message" class="form-control" name="message" rows="6" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="text-right">
                        <button type="button" class="tm-btn tm-btn-primary tm-btn-small" onclick="addComment()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                @{Html.RenderAction("List", "Category");}
            </ul>
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
            @{Html.RenderAction("RelatedPosts");}
            @*@{Html.RenderAction("RelatedPosts","Post");}//both works *@
        </div>
    </aside>
</div>
@section Script{
    <script>
        let added = false;
        let $content;
        function addComment() {
                console.log("addComment is working");
            $.ajax({
                url: "/Comment/AddComment/" + @Model.PostId,
                type: "Get",
                data: {
                    name: $("#name").val(),
                    email: $("#email").val(),
                    subject: $("#subject").val(),
                    message: $("#message").val()
                }
            }).done(function (res) {
                $("#comments-container").html(res);
                $("#name").val("");
                $("#email").val("");
                $("#subject").val("");
                $("#message").val("");

            });
                console.log("addComment is done");
        }
        function addSubComment(commentId) {
            console.log("addSubComment is working");
            $.ajax({
                url: "/Comment/AddSubComment/" + @Model.PostId,
                type: "Get",
                data: {
                    name: $("#name-" + commentId).val(),
                    email: $("#email-" + commentId).val(),
                    subject: $("#subject-" + commentId).val(),
                    message: $("#message-" + commentId).val(),
                    maincommentId: commentId
                }
            }).done(function (res) {
                $("#comments-container").html(res);
                $("#name-" + commentId).val("");
                $("#email-" + commentId).val("");
                $("#subject-" + commentId).val("");
                $("#message-" + commentId).val("");
            });
                console.log("addSubComment is done");
        }
        function Reply(commentId) {
            //let NewContent = '<div class="added">HELLO</div>';
            //let added = false;
            //let $content;
            let NewContent = `<form action="" class="mb-5 tm-comment-form">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    <div class="mb-4">
                        <input id="name-`+ commentId +`" class="form-control" name="name" type="text" placeholder="Your Name" required>
                    </div>
                    <div class="mb-4">
                        <input id="email-`+ commentId +`" class="form-control" name="email" type="email" placeholder="Your Email" required>
                    </div>
                    <div class="mb-4">
                        <input id="subject-`+ commentId +`" class="form-control" name="subject" type="text" placeholder="Subject" required>
                    </div>
                    <div class="mb-4">
                        <textarea id="message-`+ commentId +`" class="form-control" name="message" rows="6" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="text-right">
                        <button type="button" class="tm-btn tm-btn-primary tm-btn-small" onclick="addSubComment(`+ commentId +`)">Submit</button>
                    </div>
                </form>`;

            console.log("replyComment is working");
            if (!added) $content = $(NewContent).appendTo('.maincomment-container-' + commentId);
            else $content.remove();
            added = !added;
            console.log("replyComment is done");
        }
        //$(function () {
            
            //$("span.tm-color-primary.reply").on('click', function () {
            //    console.log("addComment is working");
            //    if (!added) $content = $(NewContent).appendTo('.maincomment-container');
            //    else $content.remove();
            //    added = !added;
            //    console.log("addComment is done");
            //});
        //});
    </script>
   
}